body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  color: #444;
  overflow-y: hidden;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.assistant-toggle {
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 12vh;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  top: 0;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.slider-handle {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #5080DE;
}

input:checked+.slider .slider-handle {
  transform: translateX(24px);
}

.slider-text-left,
.slider-text-right {
  top: 8vh;
  font-weight: bold;
  color: #333;
}

.logo {
  width: clamp(144px, 10vw, 576px);
  height: clamp(30px, 2.05vw, 118.35px);
  top: 40px;
  left: 50vw;
  transform: translateX(-50%);
  gap: 0px;
  opacity: 0.9;
  position: fixed;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/logo/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 2;
}

.logo:hover {
  opacity: 1;
}

.bot-avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/users/dolores.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}


.chat-container {
  position: absolute;
  top: 15vh;
  transform: translateX(-50%);
  left: 50%;
  min-width: 400px;
  width: 50vw;
  bottom: 10vh;
  max-height: 80vh;
}

.autofill-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #6666669c;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  /* opacity: 0.5; */
}

.autofill-gif {
  height: 48px;
  width: 48px;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/gifs/forms/autofill.gif");
  background-size: contain;
  background-repeat: no-repeat;

}

.autofill-message {
  color: #FFFFFF
}

.chat-container.active {
  display: flex;
}

.chat-container:not(.active) {
  display: none;
}

.chat-messages::-webkit-scrollbar {
  width: 0px;
}

.chat-messages {
  z-index: -1;
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-wrap: break-word;

}

.user-message,
.bot-message {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.user-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: flex-end;
}


.bot-message {
  justify-content: flex-start;
}

.autofill-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

button[id="autofill"] {
  width: fit-content;
  background-color: #5080DE;
  border: none;
  outline: none;
  padding: 10px;
  color: #FFFFFF;
  font-family: inherit;
  border-radius: 25px;
  cursor: pointer;
  font-size: inherit;
}

.user-profile,
.bot-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #5080DE0D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.message-bubble {
  width: auto;
  max-width: 35vw;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  margin: 5px 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: thick;
  font-size: 15px;
}




.user-message .message-bubble {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
  background-color: #5080DE;
  color: #fff;
}

.bot-message .message-bubble {
  border-bottom-left-radius: 0;
}

@keyframes generating {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.bot-avatar.loading {
  animation-name: generating;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes textGen {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }


}

.message-bubble.loading .ellipsis-gif {
  height: 19.6px;
  width: 117.6px;
  opacity: 0.5;
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/gifs/chat/loading.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.side-container {
  z-index: 1;
  position: fixed;
  top: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu-container {
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 16px;
  z-index: 3;
}

.chat-bar-container {
  font-family: 'Nunito', sans-serif;
  z-index: 1;
  bottom: 30px;
  width: 50vw;
  transform: translateX(-50%);
  left: 50%;
  position: fixed;
  display: inline-flex;
  align-items: center;
  background-color: #FFFFFF;
  justify-content: center;
  border-radius: 35px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botOptions {
  display: none;
  position: fixed;
  bottom: calc(30px + 48px + 10px + 20px);
  left: calc(25vw);
  height: fit-content;
  width: 150px;
  background-color: #ffff;
  border-radius: 25px 25px 25px 0px;
  z-index: 1;

}

.relo-selection,
.dolores-selection {
  display: flex;
  padding: 15px;
}

.relo-selection:hover {
  cursor: pointer;
  background-color: #d1d1d15d;
  border-radius: 25px 25px 0px 0px;
}

.dolores-selection:hover {
  cursor: pointer;
  background-color: #d1d1d15d;
  border-radius: 0px 0px 25px 0px;
}

a[class="botOptions-icons"] {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

a[id="relo"] {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/unnamed_relo.png");
  cursor: pointer;
}

a[id="dolores"] {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/unnamed_dolores.png");
  cursor: pointer;
}

.botOption-name {
  margin-left: 10px;
}


.chat-bar-container:not(.active) {
  transition: all 0.2s ease-in-out;
  display: none;
}

.chat-bar-container.active {
  transition: all 0.2s ease-in-out;
}

.chat-bar-container input[id="user-input"] {
  flex: 1;
  font-family: 'Nunito', sans-serif;
  padding: 15px;
  border: none;
  border-radius: 70px;
  background-color: #5080DE0D;
  outline: none;
}

.chat-buttons {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}

.chat-buttons.active {
  opacity: 1;
}

.chat-buttons:hover {
  opacity: 0.95;
  background-color: #5080DE0D;
}

a[id="assistant"] {
  opacity: 1;
}


.chat-icons {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.chat-icons.add {
  background-image: url("https://doloreschatbucket.s3.us-east-2.ama/zonaws.com/icons/chat/add.svg");
}

.chat-icons.mic {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/mic.svg");
}

.chat-icons.send {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/send.svg");
}

.chat-icons.search {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/lawyer-search/search.svg");
}

.chat-icons.assistant {
  width: 38.4px;
  height: 38.4px;
}

.button {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button.active {
  opacity: 1;
}

.button:hover {
  opacity: 0.95;
}

.button-icon {
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-icon.chat {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/chat.svg');
}

.button-icon.form {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/form.svg');
}

.button-icon.user {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/user.svg');
}

.button-icon.form-parts {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/menu.svg');
}

.button-icon.download {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/download.svg');
}

.button-icon.share {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/share.svg');
}

.button-icon.info {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/unnamed_forms.png');
  height: 75%;
  width: 75%;
}

.button-icon.lawyer {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/lawyer.png");
  height: 75%;
  width: 75%;
}

a[id="formAssist"] {
  opacity: 0.75;
}

::-webkit-scrollbar {
  width: 0;
}

.form-container {
  position: fixed;
  top: 12vh;
  align-items: center;
  width: 50vw;
  left: 25vw;
  padding: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px 0px 0px;
  height: 100%;
}

.form-container:not(.active) {
  transition: all 0.2s ease-in-out;
  display: none;
}

.form-container.active {
  transition: all 0.2s ease-in-out;
}

.section-header {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.section-subhead {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  color: #9c9c9c;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.scrollable-content {
  position: fixed;
  transform: translateX(-50%);
  left: calc(50vw + 5px);
  width: calc(50vw + 10px);
  background-color: #FFFF;
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.section-note-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 24px;
}

.sectionNote-header {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 600;
}

.sectionNote-subhead {
  font-size: 14px;
  margin-bottom: 20px;
  color: #9c9c9c
}

.warning-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 24px;
  margin: 25px;
  z-index: 3;
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.1);
}

.warning-header {
  font-size: 22px;
  color: #f84d44;
  margin-bottom: 12px;
  font-weight: 600;
}

.warning-subhead {
  font-size: 14px;
  margin-bottom: 20px;
  color: #9c9c9c
}

.subsection-header {
  font-size: 18px;
  font-weight: 600;
}

.subsection-description {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subsection-subhead {
  color: #9c9c9c;
}

.subsection-content {
  margin-top: 15px;
}

#full-width .textbox {
  width: 100%;
}


.text-input,
.textarea-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text-box,
#text-area,
#drop-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #777777;
}

.textbox,
.textarea,
.dropbox {
  padding: 8px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #0F182833;
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
}

.textbox {
  height: 40px;
}

/* .textbox.required,
.textarea.required {
  border-color: #F57E77;
} */

/* #text-box.required,
.radio-set.required label[id="radio-set"],
.checkbox-set.required label[id="checkbox-set"]{
  color: #F57E77;
} */


.textarea {
  resize: none;
}

.midsubsection-seperator {
  margin-left: 1.5%;
  width: 97%;
  margin-bottom: 15px;
  height: 25px;
  border: none;
  border-bottom: 2px dotted #e4e1e1;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}

#vertical {
  display: flex;
  flex-direction: column;
}

#vertical .radio-set {
  flex-wrap: wrap;
}

.radio-set,
.checkbox-set {
  display: flex;
  align-items: center;
  gap: 5px;
  vertical-align: middle
}

.checkbox-group {
  flex-wrap: wrap;
}

.radio-set input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 5px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

/* .radio-set.required input[type="radio"],
.checkbox-set.required input[type="checkbox"] {
  border-color: #F57E77;
} */



.radio-set input[type="radio"]:checked {
  border: 1px solid #5080DE;
}

.radio-set input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 2px;
  background-color: #5080DE;
}

.checkbox-set input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 25%;
  margin: 0 5px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-set input[type="checkbox"]:checked {
  border: 1px solid #5080DE;
}

.checkbox-set input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 25%;
  margin: 2px;
  background-color: #5080DE;
}

.divided-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: center;
}

#tel-divide.divided-text {
  display: flex;
  flex-direction: row;
}

#tel-divide input[id="a-i-telArea"] {
  text-align: end;
}

select {
  appearance: none;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/form/arrow.png");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: right 0.4rem top 50%;
  font-family: inherit;
}

#tel-divide>div:first-child {
  flex: 1;
}

#tel-divide>div:last-child {
  flex: 4;
}

#three-one,
#three-three-three,
#one-three,
#one-one {
  flex-wrap: wrap;
}

#three-one>div:first-child {
  flex: 2;
}

#three-one>div:last-child {
  flex: 1;
}

#three-three-three>div,
#one-one>div {
  flex: 1;
}

#one-three>div:first-child {
  flex: 1;
}

#one-three>div:last-child {
  flex: 2;
}


.toggle {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.switch-toggle {
  position: relative;
  width: 42px;
  height: 24px;
}

.switch-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 48px;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider-toggle {
  background-color: #5080DE;
}

input:focus+.slider-toggle {
  box-shadow: 0 0 1px #5080DE;
}

input:checked+.slider-toggle:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.add-entries,
.section-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.add-entries {
  margin-top: 25px;
}

.section-end {
  margin-top: 0px;
  margin-bottom: 35px;
}

.downloadForm-container {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 50%;
  background-color: #FFFFFF;
  height: 30%;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
  left: 25%;
  top: 25%;
}

.downloadForm-content {
  height: 100%;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  justify-items: center;
}

.downloadForm-header {
  position: relative;
  display: flex;
  top: 33%;
  font-size: larger;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.downloadForm-main {
  position: relative;
  display: flex;
  top: 35%;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.downloadButton-button #downloadForm {
  margin-top: 15px;
  background-color: #5080DE;
  padding: 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 34px;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: large;
}

#add-entryButton,
#next-formButton,
#send-formButton {
  background-color: #5080DE;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#add-entryButton {
  padding: 4px 11px;
  font-size: 24px;
  border-radius: 50%;
}

#next-formButton,
#send-formButton {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 34px;
}


.subsection-end {
  margin-left: 1.5%;
  width: 97%;
  margin-top: 25px;
  height: 1px;
  background-color: #e4e1e1;
}

.sign-input {
  margin-top: 25px;
  height: 80px;
  background-color: #eaf2ff8e;
  border-style: dashed;
  border-width: 2px;
  border-color: #5080DE;
  border-radius: 16px;
  justify-items: center;
  text-align: center;
}

/* .sign-input.required {
  border-color: #F57E77;
  background-color: #fdcdca6b;

} */

.sign-text {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80px;
  cursor: pointer;
}

.sign-title {
  position: relative;
  top: 25%;
}

.sign-subtitle {
  font-size: 12px;
  position: relative;
  top: 27%;
  color: #777777;
}

.sign-uploaded {
  position: relative;
  top: 33.33%;
}

.sign-declaration {
  margin-top: 25px;
  margin-bottom: 25px;
}

.decl-content {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 24px;
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.1);
}

.decl-text {
  font-family: inherit;
}

.suppAB-add {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  z-index: 1;
  right: 0;
  opacity: 0;
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-text {
  font-family: inherit;
  text-transform: uppercase;
  font-family: monospace;
}

input[type="date"] {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/form/calendar.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.formAssist-messages {
  width: 25vw;
  height: 75vh;
  background-color: #ffffff;
  border-radius: 35px 35px 0px 35px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
  gap: 10px;
}

.form-chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: calc(100% - 30px);
  max-height: calc(75vh - 60px);
  background-color: #5080DE0D;
  border-radius: 25px;
  padding: 10px;
}

.form-chatBar {
  position: relative;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
  height: 50px;
  border-radius: 25px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.form-chatBar input {
  outline: none;
  border: none;
  background-color: #5080DE0D;
  border-radius: 15px;
  width: calc(100% - 40px);
  padding: 15px;

}

#form-chatsend.chat-buttons {
  height: 45px;
  width: 45px;
}



.hidden {
  display: none;
}

.part-selector {
  z-index: 1;
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  align-items: end;

}

.part-selection {
  position: relative;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 30px);
  justify-content: flex-end;
  align-items: end;
  cursor: pointer;
  border-radius: 14px;
}

.parts {
  width: max-content;
  display: none;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: end;
  font-family: inherit;
  border-radius: 24px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
}

.suppAB-additional {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.part-selection:hover {
  background-color: #eaf2ff8e;
  scale: 1.05;
}

#active.part-selection {
  border: 1px solid #5080DE;
  color: #5080DE;
}

#active.part-selection:hover {
  background-color: #FFFFFF;
  scale: 1;
}


.user-info {
  margin: 20px
}

.user-info,
.title {
  display: flex;
  align-items: center;
}

.title {
  gap: 5px;
}

.data-text {
  margin-bottom: 5px;
  margin-top: 5px;

}

.data-text.value {
  display: block;
  background-color: #afb1b44d;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  color: rgba(44, 41, 41, 0.582);
  width: fit-content;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.sign-out {
  background-color: rgb(241, 93, 93);
  font-family: 'Nunito', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 25px;
}

.subscribe {
  background-color: #5080DE;
  font-family: 'Nunito', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.signout-modal {
  display: none;
  position: fixed;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}


.signout-modal-content {
  isolation: isolate;
  background-color: white;
  position: fixed;
  padding: 20px;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-radius: 20px;
  width: fit-content;
  z-index: 2;

}

.confirm-signout,
.cancel-signout {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.confirm-signout {
  background-color: #5080DE;
  color: white;
}

.cancel-signout {
  margin-left: 10px;
}

.login-window {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
  transform: translateX(-50%);
  text-align: center;
  left: 50%;
  top: 25%;
}

form[id="registrationForm"] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emailForm {
  text-align: center;
  align-items: center;
  display: flex
}

input[type="email"],
input[id="username"],
input[id="lastNameInput"],
input[id="firstNameInput"],
input[id="usernameInput"],
input[id="locationInput"],
input[type="password"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: auto;
  outline: none;
}


input[id="emailInput"] {
  width: 100%;
}

.regName {
  display: flex;
  flex-direction: row;
  width: auto;
}

.regPass {
  display: flex;
  flex-direction: row;
}

.regButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

p[id="passwordError"] {
  font-size: xx-small;
  margin: 0;
}


#registrationForm {
  justify-content: center;
  gap: 10px
}

canvas[id="profilePicCanvas"] {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 90px;
}

button[id="doneButton"],
button[id="loginButton"],
button[class="passButton"] {
  padding: 10px 20px;
  margin: 10px;
  background-color: #5080DE;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button[id="createAccountButton"],
button[id="backButton"] {
  padding: 10px 20px;
  background-color: #5080DE;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

img[id="profilePic"] {
  height: 150px;
}

h2[id="loginText"],
h2[id="emailformText"],
h2[id="profileText"],
h2[id="regText"],
h2[id="passwordText"] {
  margin-bottom: 40px;
}

.profileFormLogin {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.passForm {
  gap: 50px;
}

.passDets,
.passButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.passDets {
  flex-direction: column;
}

.passButtons {
  margin-top: 20px;
}

button:disabled,
button[id="saveChanges"]:disabled,
button[id="savePassword"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#emailButton {
  background-color: transparent;
  color: #5080DE;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#googleButton {
  background-color: #FFFF;
  color: rgba(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  margin: 10px;
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#separator {
  text-align: center;
  margin: 20px 0;
  color: #ccc;
  position: relative;
}

#separator span {
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

#separator::before,
#separator::after {
  content: '';
  position: absolute;
  top: 50%;
  width: calc(50% - 30px);
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

#separator::before {
  left: 0;
}

#separator::after {
  right: 0;
}


span.icon {
  background: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/logo/g-normal.png") transparent no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.error {
  color: #ff0000;
  font-weight: bold;
  font-size: xx-small;
}

button[id="emailButton"] {
  height: 42px;
  width: 48px;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/login_icons/next-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  cursor: pointer;

}

form[id="registrationForm"] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


p[class="footerClass"] {
  position: fixed;
  font-size: 12px;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}

.disclaimer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.disclaimerHead {
  font-size: x-large;
  padding-bottom: 10px;
}


.window {
  position: relative;
  background: #ffff;
  text-align: center;
  width: 400px;
  max-width: calc(100vw - 40px);
  padding: 25px;
  border-radius: 10px;
}

.closeDisclaimer {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 0;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.footerClass {
  color: #444;
  z-index: -1;
}

a[class=footerClass]:hover {
  cursor: pointer;
}

#customBtn {
  position: relative;
  display: inline-block;
  background: #ffff;
  color: #444;
  width: auto;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

#customBtn:hover {
  background-color: #5080DE0D;
  cursor: pointer;
}



span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.subscription-title {
  margin-bottom: 10px;
}

.subscription-subtitle {
  margin-top: 0px;
  color: #929292;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  width: fit-content;
  max-width: 90vw;
  transform: translateX(-50%);
  left: 50%;
  top: 15%;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0, 0.1);
  z-index: 0;
}

.subscription-selection {
  position: relative;
  display: inline-flex;
  gap: 50px;
  margin-top: 50px;
  width: 100%;
}

.plan-selection {
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 10px;
}

.plan-cards {
  display: flex;
  gap: 25px;
  width: 100%;
}

.plan-card {
  position: relative;
  background-color: #e6e8eb;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 15vw;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.plan-card:hover {
  transform: scale(1.1);
  background-color: #e4f1ff;
  z-index: 1;
}

.plan-name {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 10px;
}

.plan-price {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.plan-features {
  text-align: left;
  margin-bottom: 20px;
  color: #444;
  flex-grow: 1;
  font-size: small;
}

.plan-features ul {
  list-style-type: none;
  padding: 0;
}

.plan-features li {
  margin-bottom: 5px;
}

.feature-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  opacity: 0.75;
}

.yearly-price-crossed {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

.plan-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.plan-button[id='current-plan'] {
  background-color: #c9c9c9;
  color: #a1a1a1;
}

.plan-button:hover {
  background-color: #0056b3;
}

.plan-button[id='current-plan']:hover {
  background-color: #c9c9c9;
  cursor: not-allowed;
}

.plan-card.current:hover {
  transform: scale(1);
  background-color: #e6e8eb;

}

.plan-name[id="plus"] {
  color: #3E90F0;
}

.plan-name[id="premium"] {
  color: #17a54b;
}

.plan-name[id="enterprise"] {
  color: #af0000
}



.profile-container {
  position: relative;
  display: flex;
  transform: translateX(50%);
  top: 25%;
  width: 50vw;
  height: 40vh;
  background-color: #ffff;
  border-radius: 25px;
  min-height: 350px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  width: 100%;
  height: 100%;
}


.profileInfo .userDetsText {
  display: flex;
  flex-direction: column;
}

.userDetsText {
  gap: 10px;
}

.profileInfo {
  justify-content: space-between;
  height: 100%;
}

.supportFormIncl {
  width: 100%;
}

.passText,
.supportForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.supportForm {
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
}

.profilePic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileButtons,
.newPassButt {
  position: fixed;
  gap: 25px;
  height: 40px;
  bottom: 20px;
  width: 100%;
  display: flex;
  color: #FFFFFF;
}

.profileButtons button,
.newPassButt button {
  color: inherit;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #5080DE;
  font-family: inherit;
  font-size: auto;
  position: relative;
  left: 25px;
  right: 25px;
}

h2[class="pagetitle"],
h2[class="passtitle"],
h2[class="filestitle"],
h2[class="lawyerstitle"],
h2[class="supporttitle"],
h2[class="formsList"],
h2[class="lawyersList"],
h2[id="filesList"] {
  display: flex;
  margin-top: 0px;
  margin-bottom: 25px;
  justify-content: center;
}

.supportButton {
  margin-top: 45px;
  margin-bottom: 0;
}

button[id="supportSubmit"] {
  color: #ffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #5080DE;
  font-family: inherit;
  position: fixed;
  bottom: 10px;
  justify-content: center;
  width: fit-content;
  font-size: inherit;
}

.files-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
  font-family: inherit;
}

.file-tile {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.file-image {
  padding-bottom: 60%;
  background-size: contain;
  background-position: center;
}

.file-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.forms-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
  font-family: inherit;
}

.form-tile {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.form-image {
  padding-bottom: 60%;
  background-size: contain;
  background-position: center;
}



#upgrade_alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  min-width: 250px;
  z-index: 2;
}

#upgrade_alert h2 {
  margin-top: 0;
}

#upgrade_alert p {
  margin-bottom: 20px;
}

#close-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: inherit;
}

#upgrade-btn {
  background-color: #5080DE;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: inherit;
}

.form-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.add-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  cursor: pointer;
}

.add-icon {
  font-size: 3rem;
  color: #aaa;
}

.add-title {
  text-align: center;
  font-size: small;
  color: #666;
}

.lawyers-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
  font-family: inherit;
}

.lawyer-tile {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lawyer-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.lawyer-image {
  padding-bottom: 80%;
  background-size: cover;
  background-position: center;
}

.lawyer-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.supportFormIncl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 80%;
}

input[id="supportEmail"],
input[id="supportSubj"],
textarea[id="supportMsg"] {
  max-width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-width: thin;
  border-color: #ddd;
  box-sizing: border-box;
  font-family: inherit;
}


input[id="supportEmail"] {
  width: 100%;
}

input[id="supportSubj"] {
  width: 100%;
}

textarea[id="supportMsg"] {
  resize: none;
  width: 100%;
  height: 80%;
}

label[id="supportMsg"],
label[id="supportSubj"],
label[id="supportEmail"] {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

input[id="username"],
input[id="firstname"],
input[id="lastname"],
input[id="password"],
input[id="location"],
input[id="Confpassword"] {
  outline: none;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-width: thin;
  width: 90%;
  border-color: #ddd;
}

input [id="firstname"],
input[id="lastname"] {
  width: 80%;
}

.userDetsLogin {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userDets,
.profileButtons,
.userName {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.userDets {
  flex: 1;
}

.sidebar {
  width: 25%;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: flex;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
}

.sidebar a.active {
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.tab {
  display: none;
}

.tab.active {
  display: block;
}

#logout-item {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  margin-top: auto;
  display: block;
  position: absolute;
  bottom: 12px;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  border-color: #ddd;
  color: #e53935;
}

#logout-item a {
  color: inherit;
}

#logout-item:hover {
  background-color: #e53935;
  color: #ffff;
}

.profilePicText {
  text-align: center;
}

.lawyer-connections {
  /* background-color: #FFFFFF; */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 10vw;
  top: 15vh;
  height: 85vh;
  width: 80vw;

}

.search-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 40px;
  padding: 10px;
  bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
  gap: 10px;
  align-items: center;
  left: calc(-12.5px + 10%);

}

#search-send.chat-buttons {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

input[id="search-query"] {
  font-family: inherit;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #5080DE0D;
}

.lawyer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #0056b3; */
  left: calc(-25px + 10%);
  top: 0vh;
  bottom: 60px;
  width: 80%;
  padding: 25px;
  overflow-y: auto;
  justify-content: space-between;
  z-index: -1;
  gap: 30px
}

.lawyer-list .lawyer {
  position: relative;
  /* padding: 10px; */
  border-radius: 20px;
  /* gap: 15px; */
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background-color: #FFFFFF;
}

.lawyer-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lawyer-education,
.lawyer-experience,
.lawyer-speciality,
.lawyer-connect,
.lawyer-info,
.lawyer-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .lawyer-connect,
.lawyer-info {
  height: 300px;
} */

.lawyer-connect {
  justify-content: space-evenly;
}

.no-result {
  display: flex;  
  font-size: 18px;
  font-weight: 100;
  opacity: 0.8;
}

.lawyer-description,
.lawyer-details,
.lawyer-contact,
.lawyer-pic,
.lawyer-socials,
.lawyer-name,
.lawyer-website,
.lawyer-tel,
.lawyer-address,
.lawyer-review,
.lawyer-ratings,
.lawyer-comments,
.lawyer-saveShare,
.lawyer-nameVer,
.lawyer-ratingComm,
.lawyer-qualElem,
.lawyer-profileReq {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lawyer-name {
  width: 100%;
  justify-content: space-between;
}

.lawyer-details {
  padding: 20px;
  gap: 20px;
}

.lawyer-pic {
  height: 254px;
  width: 175px;
  overflow: hidden;
}

.lawyer-pp {
  width: 100%;
  height: 100%;
  /* background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/template-pp.png"); */
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.lawyer-socials {
  justify-content: center;
  justify-content: space-evenly;
}

.lawyer-info {
  width: calc(100% - 185px);
  gap: 15px;
}

.lawyer-description {
  font-size: 14px;
  flex-wrap: wrap;
  color: #979797;
}


/* .lawyer-socials div {
  height: 36px;
  width: 36px;
  padding: 12px;
  align-items: center;
} */

.socials {
  position: relative;
  height: 24px;
  width: 24px;
  background-color: #FFFFFF;
  border-radius: 36px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
}

.lawyer-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: #5080DE;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 30px;
}


/* svg[id="discord"] {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/discord.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

svg[id="facebook"] {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/facebook.svg");
  background-size: contain;
  background-repeat: no-repeat;
} */

svg[id="profile"] {
  height: 16px;
  width: 16px;
  border-radius: 0;
  box-shadow: none;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/user-profile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}



.dolores-reco {
  display: flex;
  justify-content: center;
  background-color: #5080DE;
  padding: 10px;
  color: #FFFF;
  border-radius: 0 0 20px 20px;
}

.lawyer-name {
  align-items: center;
}

.fullname {
  font-size: 24px;
}

#lawyer-verifiedIcon,
#lawyer-shareIcon,
#lawyer-saveIcon {
  background-size: contain;
  background-repeat: no-repeat;

}

.lawyer-divider {
  background-color: #e9e9e9;
}

#h.lawyer-divider {
  height: 1px;
  width: 100%;
}

#v.lawyer-divider {
  width: 1px;
  height: 100%;
}

.lawyer-verification {
  display: flex;
  align-items: center;
}

#lawyer-verifiedIcon {
  height: 24px;
  width: 24px;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/verified.svg");
}

#lawyer-saveIcon {
  height: 36px;
  width: 36px;
  
}

#lawyer-shareIcon {
  height: 36px;
  width: 36px;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/lawyer-share.svg");
}

/* #lawyer-shareIcon,
#lawyer-saveIcon {
  cursor: not-allowed;
} */

#lawyer-websiteIcon,
#lawyer-telIcon,
#lawyer-addressIcon {
  min-height: 18px;
  min-width: 18px;
  height: 18px;
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}



.lawyer-contact {
  gap: 20px;
  font-size: 16px;
}

#lawyer-websiteIcon {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/websiteIcon.svg");
}

#lawyer-telIcon {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/telIcon.svg");
}

#lawyer-addressIcon {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/addressIcon.svg");
}

.lawyer-qualifications {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* justify-content: space-between; */
}

/* .lawyer-qualifications>div:first-child {
  flex: 0.333;
}

.lawyer-qualifications>div:last-child {
  flex: 0.333;
} */

.lawyer-education .education-title,
.lawyer-experience .experience-title,
.lawyer-speciality .speciality-title {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.lawyer-education .education,
.lawyer-experience .experience,
.lawyer-speciality .speciality {
  font-size: 14px;
  color: #858585
}

#lawyer-ratingIcon,
#lawyer-commentIcon {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

#lawyer-commentIcon {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/lawyer-comments.svg");
}

#lawyer-ratingIcon {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/lawyer-ratings.svg");
}

.lawyer-review {
  justify-content: space-between;
  color: #5080DE;
}

.lawyer-ratingComm {
  gap: 15px;
}

.lawyer-ratings,
.lawyer-comments {
  display: flex;
  align-items: center;
  cursor: not-allowed;
}

.request {
  padding: 10px;
  background-color: #5080DE;
  border: none;
  color: #FFFF;
  font-family: inherit;
  font-size: 16px;
  border-radius: 25px;
}

.request.inactive {
  padding: 10px;
  background-color: #dddcdc;
  border: none;
  color: #aaa9a9;
  font-family: inherit;
  font-size: 16px;
  border-radius: 25px;
  cursor: not-allowed;
}

.lawyers-db {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  /* bottom: 80px; */
  width: 100%;
  align-items: center;
}

.lawyers-previous,
.lawyers-next {
  display: flex;
  /* background-color: #FFFFFF; */
  border: 2px solid #5080DE;
  border-radius: 48px;
  box-shadow: 0 0 8pc rgb(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

.lawyers-load {
  display: flex;
  border: none;
  border: none;
  background-color: #5080DE;
  border-radius: 48px;
  box-shadow: 0 0 8pc rgb(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

/* .lawyers-next {
  
} */

button[id="lawyer-prevPage"],
button[id="lawyer-nextPage"] {
  display: flex;
  background-color: transparent;
  height: 20px;
  width: 20px;
  padding: 18px;
  border-radius: 48px;
  border: none;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;

}

button[id="lawyer-nextPage"] {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/next-prev.svg");
}

button[id="lawyer-prevPage"] {
  transform: rotate(180deg);
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/lawyer-connections/next-prev.svg");
}

button[id="lawyer-loadMore"] {
  display: flex;
  background-color: transparent;
  padding: 10px 24px 10px 24px;
  border: none;
  color: #FFFF;
  font-size: 14px;
  font-family: inherit;

}



@media (max-width: 1200px) {
  .part-selector {
    position: fixed;
    transform: translateY(-12vh);
    top: 32px;
    right: calc(-10vw + 32px);

  }

  .form-container {
    transform: translateX(-50%);
    left: 50%;
    width: 80vw;
    max-width: 950px;
  }

  .scrollable-content {
    width: 80vw;
    left: 50%;
    max-width: 950px;
  }

  .plan-selection {
    width: 5vw;
  }

  .subscription-container {
    max-width: 80vw;
  }

  .plan-name {
    font-size: 20px;
  }

  .plan-price {
    font-size: 12px;
  }

  .plan-features {
    font-size: 8px;
  }

  .plan-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .plan-card {
    min-width: 12vw;
    width: 150px;
  }

  .profile-container {
    position: absolute;
    transform: translateX(50%);
    left: -30%;
    width: calc(100vw - 40px);
    height: 35vh;
    max-width: 80vw;
  }

  .sidebar {
    width: 8%;
    align-items: center;
  }

  .sidebar a.active {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    filter: invert(41%) sepia(61%) saturate(611%) hue-rotate(183deg) brightness(102%) contrast(91%);
  }

  .profilePicText {
    font-size: 12px;
  }

  a[data-tab="profile"],
  a[data-tab="files"],
  a[data-tab="lawyers"],
  a[data-tab="support"],
  a[data-tab="forms"] {
    width: 20px;
    height: 20px;
    font-size: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
  }

  a[data-tab="profile"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/profileMain.png");
  }

  a[data-tab="files"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/files.png");
  }

  a[data-tab="lawyers"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/lawyers.png");
  }

  a[data-tab="support"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/support.png");
  }

  a[data-tab="forms"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/forms.png");
  }


  .profileButtons {
    position: relative;
    transform: translateY(100%);
    bottom: 20px;
    height: 40px;
    gap: 25px;
  }

  button[id="subscribe"],
  button[id="saveChanges"],
  button[id="changePassword"],
  button[id="savePassword"],
  button[id="cancelPassword"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  button[id="logout-item"]:hover {
    background-color: inherit;

  }

  h2[id="loginText"] {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .user-info,
  .title {
    display: block;
    align-items: center;
  }


  input[id="lastNameInput"],
  input[id="firstNameInput"],
  input[id="regPasswordInput"],
  input[id="confirmPasswordInput"] {
    width: 50%;
  }

  .profilPicLogin {
    position: relative;
    left: 20px;
  }
}



@media (max-width: 600px) {
  .scrollable-content {
    max-height: 70vh;
  }


  .message-bubble {
    max-width: calc(min(85vw, 250px));
  }

  .chat-container {
    min-width: calc(min(85vw, 350px));
  }

  .chat-bar-container {
    min-width: calc(min(85vw, 350px));
  }

  .botOptions {
    transform: translateX(-50%);
    left: calc(min(42.5vw, 175px))
  }

  p[class="footerClass"] {
    font-size: 2.5vw;
  }

  .side-container {
    top: 18px;
    left: 18px;
  }

  .login-window {
    max-width: 80vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .profile-container {
    position: absolute;
    transform: translateX(50%);
    left: -40%;
    max-width: 90vw;
    width: calc(100vw - 20px);
    height: 40vh;
  }

  .sidebar {
    width: 8%;
    font-size: 0px;
  }

  .profilePicText {
    font-size: 12px;
  }

  a[data-tab="profile"],
  button[id="logout-item"],
  a[data-tab="files"],
  a[data-tab="lawyers"],
  a[data-tab="support"],
  a[data-tab="forms"] {
    height: 6px;
    width: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
    color: #f1f1f1;
  }

  a[data-tab="profile"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/profileMain.png");
  }

  a[data-tab="files"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/files.png");
  }

  a[data-tab="lawyers"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/lawyers.png");
  }

  a[data-tab="support"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/support.png");
  }

  a[data-tab="forms"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/forms.png");
  }

  button[id="logout-item"] {
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/sidebar/logout-item.png");
    margin-bottom: 15px;
  }

  .profileButtons {
    position: fixed;
    left: 65px;
    height: 40px;
    bottom: 50px;
    gap: 4px;
    transform: translateY(100%);
  }

  .newPassButt {
    bottom: -85px;
    left: -25px;
    gap: 10px;
  }


  button[id="subscribe"],
  button[id="saveChanges"],
  button[id="changePassword"],
  button[id="savePassword"],
  button[id="cancelPassword"] {
    display: flex;
    font-size: 12.5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 75px;
  }

  button[id="logout-item"]:hover {
    background-color: inherit;

  }

  h2[id="loginText"] {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .logo {
    height: 50px;
    width: 50px;
    background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/logo/favicon.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .user-info,
  .title {
    display: block;
    align-items: center;
  }


  input[id="lastNameInput"],
  input[id="firstNameInput"],
  input[id="regPasswordInput"],
  input[id="confirmPasswordInput"] {
    width: 50%;
  }

  .userDetsText input,
  .passText input {
    padding: 5px;
  }

  .profilPicLogin {
    position: relative;
    left: 20px;
  }

  canvas[id="profilePicCanvas"] {
    left: 20px;
    height: 85px;
  }
}

@media (max-width: 472px) {
  .scrollable-content {
    max-height: 60vh;
  }



  .profileButtons {
    position: fixed;
    left: 50px;
    height: 40px;
    bottom: 50px;
  }

  .newPassButt {
    transform: translateY(100%);
    position: fixed;
    bottom: 50px;
    left: 50px;
    gap: 10px;
  }

  button[id="subscribe"],
  button[id="saveChanges"],
  button[id="changePassword"],
  button[id="savePassword"],
  button[id="cancelPassword"] {
    font-size: 11px;
  }



  .botOptions {
    left: 27vw
  }



}

@media (max-width: 375px) {
  .scrollable-content {
    font-size: 12px;
  }

  .sign-subtitle {
    font-size: 9px;
  }

  .plan-selection {
    width: 150px;
  }

  .subscription-container {
    padding: 20px;
  }

  .subscription-selection {
    left: -5px;
    gap: 10px;
  }

  .profileButtons {
    display: flex;
    flex-wrap: wrap-reverse;
    bottom: 50px;
    width: 70vw;
  }

  button[id="subscribe"],
  button[id="saveChanges"],
  button[id="changePassword"],
  button[id="savePassword"],
  button[id="cancelPassword"] {
    font-size: 10px;
    width: fit-content;
    height: fit-content;
  }

  .profile-container {
    width: 100%;
  }

  canvas[id="profilePicCanvas"] {
    height: 50px;
    top: 0px;
  }

  .userDetsText {
    font-size: 10px;
  }

}

@media (max-width:350px) and (max-height: 900px) {
  .profile-container {
    position: relative;
    height: 50vh;
    top: 15%
  }

  .profileButtons {
    bottom: 10px;
  }


}

@media (max-width: 300px) {
  .chat-bar-container input[id="user-input"] {
    width: 42vw;
  }


  .botOptions {
    left: 33vw
  }
}
